:root{
    --primary-color: #651FFF;
    --secondary-color: #5C5F6E;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
a{
    text-decoration: none;
}
p{
    color: var(--secondary-color);
}
.banner,.app,.lightning{
    padding: 100px 0px;
}
.color{
    color: var(--primary-color);
}
.my-btn-primary{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
}
.my-btn-primary-outline{
    background-color: #ffffff;
    color: black;
    border: 3px solid black;
    padding: 12px 40px;
    border-radius: 12px;
    font-size: 16px;    
    font-weight: bold;
}

/* banner */
.banner{
    background-color: #EBE5FA;
}
/* banner */
/* lightning */
.lightning-wrapper>div:nth-child(2)>div>div{
    background-color: var(--primary-color);
    padding: 50px 50px;
    border-radius: 24px;
    color: white;
}
.lightning-wrapper>div:nth-child(2)>div>div p{
    color: white;
}
.lightning-wrapper>div:nth-child(2)>div>div a{
    color: white;
}
/* lightning */
/* lightweight */
.lightweight-wrapper>div>div:nth-child(1)>div{
    background-color:#FFF7ED;
    border-radius: 24px;
    padding: 10px 10px;
}
.lightweight-wrapper>div>div:nth-child(2)>div{
    background-color:#E0F7FA;
    border-radius: 24px;
    padding: 10px 10px;
}
/* lightweight */